
<div class="ui cards section centered three column grid" style="text-align: unset">
    
    <% @jobs.each do |listing| %>
        <div class="card">
            <div class="content">
                <h1 class="header"><%= listing.company_name %></h1>
                <h4 class="header"><%= listing.title %></h4>
                <div class"meta">
                    <% if listing.company_logo && (listing.company_logo.gsub("https://d2fcz5no062gar.cloudfront.net","").include?("http://") || listing.company_logo.gsub("https://d2fcz5no062gar.cloudfront.net","").include?("https://"))%><img src="<%= listing.company_logo.gsub("https://d2fcz5no062gar.cloudfront.net","") %>"><% end %>
                    <p>Perks: <% if listing.perks && !listing.perks.empty? %><%= listing.perks %><% else %>No perks listed <% end %></p>
                    <p>Category: <%= listing.category %></p>
                    <p>Company: <%= listing.company_name %></p>
                    <% if listing.company_location %><p>Location: <%= listing.company_location %></p><% end %>
                    <p><a href="<%= listing.job_url %>">Job Link</a></p>
                </div>
            <!--</div>
            <div class="content">-->
            <!--listing.description.html_safe-->
            </div>
        </div>
    <% end %>
</div>